:root {
  --red-color: #d63638;
  --text-color: #444444;
  --green-color: #00a32a;
  --login-modal-lg-width: 300px;
  --login-modal-sm-width: 240px;
  --login-modal-bg-color: #fff;
  --login-btn-bg-color: #fff;
  --login-btn-bd-color: #fff;
  --login-modal-body-color: #e8ecf3;
}

.meta-notify-callout,
.hide-email .metanotifyEmail,
.hide-backdrop .metanotifyMask {
  display: none !important;
}
#metaContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
  */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}



.metanotify {
  width: 40vw;
  max-width: 580px;
  position: relative;
  border: 3px solid;
  background-color: var(--metanotify-bg-color);

  .metanotifyMask {
    margin-top: 5px;
    background: linear-gradient(
      to top,
      var(--metanotify-bg-color),
      var(--metanotify-bg-color-0)
    );
    
  }
  
  
  @media screen and (max-width: 769px) {
      .metanotifyMask {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }

  .metanotifyImage {
    width: 75px;
    height: 75px;
    border-radius: 25px;
    margin: 10px;
    float: left;
  }

  .metanotifyMessage {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    color: var(--metanotify-message-color) !important;
    font-size: var(--metanotify-message-text-size) !important;
  }
  .metanotifyMessageError {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    color: red !important;
    font-size: var(--metanotify-message-text-size) !important;
  }

  .metanotifyConnect {
    width: 20vw;
    cursor: pointer;
    max-width: 280px;
    min-width: 210px;
    display: inline-block;
    line-height: 1.1;
    font-size: var(--metanotify-button-text-size) !important;
    font-weight: 400 !important;
    padding: var(--metanotify-button-padding-x)
      var(--metanotify-button-padding-y) !important;
    border-radius: 1px;
    min-height: 56px !important;
    vertical-align: baseline !important;
    background-color: var(--metanotify-connect-button-bg-color) !important;
    color: var(--metanotify-connect-text-button-color) !important;
    border: var(--metanotify-connect-button-border-size) solid #000000 !important;
    text-decoration: none;
    margin: 15px 10px !important;
    border-color: #000000 !important;
    &:hover {
      border-color: var(--metanotify-connect-button-bg-color) !important;
      background-color: var(
        --metanotify-connect-button-hover-bg-color
      ) !important;
      color: var(--metanotify-connect-button-hover-color) !important;
    }
    
  }
  
  @media screen and (max-width: 769px)  {
    .metanotifyConnect {
      width: 35vw;
    }
    }

    @media screen and (max-width: 1300px) and (min-width: 769px)  {
      .metanotifyConnect {
        width: 25vw;
      }
      }
  
  
  #buttonGroup{
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 769px) {
    #buttonGroup{
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .metaNoThanks {
    cursor: pointer;
    padding: 10px 20px !important;
    display: inline-block;
    margin: 5px 10px !important;
    font-weight: 400 !important;
    font-size: 11px;
    border-radius: 1px;
    line-height: inherit;
    background-color: var(--metanotify-thanks-button-bg-color) !important;
    color: var(--metanotify-thanks-text-button-color) !important;
    border: var(--metanotify-thanks-button-border-size) solid !important;
    text-decoration: none;
    border-color: #000000 !important;
    &:hover {
      border-color: var(--metanotify-thanks-button-bg-color) !important;
      background-color: var(
        --metanotify-thanks-button-hover-bg-color
      ) !important;
      color: var(--metanotify-thanks-button-hover-color) !important;
    }
  }

  #metaNotifyAgree{
    

  background: #FFFFFF;
    border: 1px solid #000000;
  }

  .metaNotifyTick {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
    label {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      margin: 20px 10px !important;
    }

    a {
      text-decoration-line: underline;
      color: var(--metanotify-message-color);
    }
  }
}

@media screen and (max-width: 769px){
  .metanotify {
    border: none;
    width: 80vw
  }
}
.-walletlink-css-reset {
  display: none !important;
}

.meta-notify-modal-container {
  height: 100vh !important;
  max-height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.meta-notify-showing .meta-notify-modal-container {
  opacity: 1;
  visibility: visible;
}

#metanotify-popup-notice {
  font-size: 13px;

  &.red {
    color: var(--red-color);
  }

  &.green {
    color: var(--green-color);
  }

  &.normal {
    color: var(--text-color);
  }
}
.meta-notify-modal::-webkit-scrollbar {
  display: none;
}
.meta-notify-modal {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: var(--text-color);
  position: relative;
  width: 324px;

  .meta-notify-modal-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .meta-notify-modal-wrapper {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .meta-notify-modal-header {
    text-align: center;
    background-color: var(--login-btn-bg-color);
    padding: 1.25em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .meta-notify-modal-body {
    background-color: var(--login-modal-body-color);
    padding: 0 30px 30px 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    appearance: none;
  }

  .carousel-container {
    position: relative;
  }

  .carousel__item {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: block;
    min-width: 0;
  }

  .controls {
    position: relative;
    bottom: 1em;
    text-align: center;
  }

  .controls__dot {
    display: inline-block;
    width: 0.85em;
    height: 0.85em;
    border-radius: 50%;
    outline: none;
    background-color: #808080;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.2s;
    margin-top: -100px;

    &:not(:first-child) {
      margin-left: 0.25em;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .metanotifyConnectWalletBtn {
    display: block;
    width: 100%;
    color: #222 !important;
    background-color: var(--login-btn-bg-color) !important;
    margin-bottom: 1em !important;
    padding: 0.5em 1em !important;
    border: 2px solid var(--login-btn-bd-color) !important;
    cursor: pointer;
    border-radius: 4px !important;

    &.phantomLoginButton {
      margin-bottom: 0 !important;
    }
  }

  .Button-label {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 32px;
      height: auto;
      margin-right: 1em;
    }
  }

  .LogInmeta-notify-modal-signUp {
    text-align: center;

    a {
      cursor: pointer;
    }
  }

  .meta-notify-close-popup-2{
    font-weight: 600;
    background: none;
    border: none;
    display: block;
    padding: 15px 0 0 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: #f0583a;
  }

  .meta-notify-close-popup {
    font-weight: 600;
    background: none;
    border: none;
    display: block;
    margin: 3px;
    text-align: center;
    float: left;
    cursor: pointer;
    color: #f0583a;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    line-height: inherit;
  }
}

#meta-next-popup {
  font-weight: 600;
  background: none;
  border: none;
  display: block;
  margin: 3px;
  text-align: center;
  float: right;
  cursor: pointer;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  color: #122df5;
  line-height: inherit;
}

div#walletconnect-wrapper .walletconnect-modal__base {
  max-width: 400px;
}

@media screen and (max-width: 769px) {
  .meta-notify-modal [data-wallet="coinbase"],
  .meta-notify-modal [data-wallet="phantom"] {
    display: none;
  }
}
